.reservations {
	padding: 1em;
	background-color: #EEEEDD;
	border: 1px solid #CCC;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

.reservations input {
	width: 100%;
	font-family: Arial;
}

.reservations b {
	font-weight: bold;
}

.reservations p {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}

.reservations select {
	width: 100%;
	height: 2em;
}

.reservations h2 {
	margin-top: 0.4em;
	font-weight: bold;
	font-size: 1.5em;
}

.reservations table {
	width: 100%;
	margin-bottom: 1em;
}

.reservations td {
	padding: 0.3em;
}